body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

#tally{
    display: flex;
    font-size: 150px;
}

.header{
    font-size: 20px;
    background-color: yellow;
    padding: 5px 50px;
    margin-bottom: 5px;
}

.btn{
    margin: 0px 2px;
}

#result{
    height: 50px;
    font-size: 40px;
    margin-top: 15px;
}

.winner{
    color: green;
    font-weight: bolder;
}

.loser{
    color: red;
    font-weight: bolder;
}

.button-container{
    display: flex;
}

.button-container>div{
    margin: 5px 20px;
}

.header-btn{
    text-align: center;
    padding-bottom: 5px;
}

#try-again{
    margin-top:30px;
    font-size: 25px;
    color: gray;
    visibility:hidden;
}

#try-again:hover{
    color: black;
}